.monaco-query-input-container {
    position: relative;
    border: 1px solid $input-border-color;
    // Match padding from the regular query input.
    padding-left: 0.75rem;
    background-color: #0e121b;
    display: flex;
    align-items: center;
    &:focus-within {
        border: 1px solid $input-focus-border-color;
        box-shadow: 0 0 0 2px rgba(28, 126, 214, 0.25);
    }
    .monaco-editor {
        // stylelint-disable-next-line selector-class-pattern
        .decorationsOverviewRuler {
            display: none;
        }
        .view-overlays {
            .current-line {
                border: none;
            }
        }
        .view-lines {
            border: none;
        }
        .monaco-editor-background {
            width: 100% !important;
        }
        .monaco-editor-hover-content {
            padding: 0.25rem;
            .status-bar {
                display: none;
            }
        }
        .monaco-icon-label.suggest-icon.operator::before {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJtZGktaWNvbiAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGQ9Ik0xNCwxMlYxOS44OEMxNC4wNCwyMC4xOCAxMy45NCwyMC41IDEzLjcxLDIwLjcxQzEzLjMyLDIxLjEgMTIuNjksMjEuMSAxMi4zLDIwLjcxTDEwLjI5LDE4LjdDMTAuMDYsMTguNDcgOS45NiwxOC4xNiAxMCwxNy44N1YxMkg5Ljk3TDQuMjEsNC42MkMzLjg3LDQuMTkgMy45NSwzLjU2IDQuMzgsMy4yMkM0LjU3LDMuMDggNC43OCwzIDUsM1YzSDE5VjNDMTkuMjIsMyAxOS40MywzLjA4IDE5LjYyLDMuMjJDMjAuMDUsMy41NiAyMC4xMyw0LjE5IDE5Ljc5LDQuNjJMMTQuMDMsMTJIMTRaIi8+PC9zdmc+) !important;
            color: #ffffff !important;
        }
        // Override our :focus-visible style, which gets applied to the textarea
        .inputarea.focus-visible {
            box-shadow: none;
        }
    }

    &__regexp-toggle {
        padding-right: 0.25rem;
    }
}

.theme-light {
    .monaco-query-input-container {
        background-color: #ffffff;
    }
}
